html {
  --primary-color: #242424;
  /* --secondary-color: #0b9ddd; */
  --secondary-color: #47b7ff;
  --primary-color-text: #ffffff;
  --secondary-color-text: #FFFFFF;
  --third-color: #1c5d8e;
  --third-color-text: #FFFFFF;
  --primary-color-hover: rgb(61, 86, 85);
  
/*
  --primary-color: #B4F6EE;
  --secondary-color: #528BEE;
  --primary-color-text: #000000;
  --secondary-color-text: #FFFFFF;
  --third-color: #41414A;
  --third-color-text: #FFFFFF;
  --primary-color-hover: #9CCDCA;
*/
  width: 100%;
  max-width: 100%;
}

.blue {
  color: var(--secondary-color);
}

.black {
  color: var(--secondary-color-text);
}

button:focus {
  box-shadow: none;
}

/* --------- */
/* Navbar Section  */
/* --------- */

.navbar {
  position: fixed;
  font-size: 3rem;
  padding: 1rem 1rem 1rem 1rem;
  
  left:0;
  font-size: 1.2rem;
  background-color: var(--third-color);  
  z-index: 999;
  width: 100%;
  display: flex;
  justify-self: right; 
  color: var(--third-color-text);
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: var(--third-color-text);
}


.navbar-nav .nav-link {
  color: var(--third-color-text); 
  padding-right: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  color: var(--third-color-text);
}

@media (max-width: 300px) {
  .navbar {
    justify-self: center;
  }
  .navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-buttons .nav-link.active {
  color: var(--secondary-color) !important;
}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
  
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px;
  width: 100%;
}

.home-section {
  position: relative;
  background-position: top center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--primary-color);
  
}

.home-content {
  padding: 50px 0 1rem;
  color: rgb(0, 0, 0);
  text-align: left;
}

.heading {
  font-size: 2.4em;
  padding-left: 50px;
  color: var(--primary-color-text)
}

.heading-name {
  font-size: 2.5em;
  padding-left: 50px;
  color: var(--primary-color-text);
}

.main-name {
  color: var(--secondary-color);
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: var(--secondary-color);
  font-weight: 600;
  padding:0;
}
.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--primary-color-text);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}

.typewriterEffect {
  padding-left: 50px;
  text-align: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.home-about-section {
  position: relative;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: var(--primary-color);
  word-wrap: break-word;
}

.home-about-description {
  color: var(--primary-color-text);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.home-about-body {
  padding-top: 20px;
  font-size: 1.2em;
  text-align: left;
  overflow-wrap: break-word;
  color: var(--primary-color-text);
}

.home-about-social {
  text-align: center;
  padding-top: 25px;
  color: var(--secondary-color);
}

.home-about-social-links {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.home-social-icons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: var(--secondary-color);
  border-radius: 50%;
  transition: 0.5s;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary-color-hover);
}

.home-social-icons:hover {
  color: #120395;
  box-shadow: 0 0 5px var(--secondary-color-hover);
  text-shadow: 0 0 2px var(--secondary-color);
}

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: var(--primary-color);
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--third-color);

  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px ;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  width: 100%;
  padding: 25px;
  color: var(--secondary-color-text);
}

.footer-madeby, .footer-copywright , .footer-body{
  color: var(--secondary-color-text);
}

.footer-madeby{
  text-align: center;
  color: var(--secondary-color-text);
}

.footer-body{
  text-align: right;
  color: var(--secondary-color-text);
}

@media (max-width: 767px) {
  .footer-madeby, .footer-copywright , .footer-body{
    text-align: center;
  }
}

.footer h3 {
  font-size: 1em;
  color: var(--secondary-color-text);

}
.footer-icons {
  color: var(--secondary-color-text);
}


/* --------- */
/* Projects */
/* --------- */
.project-container{
  min-height: 95vh;
  background-color: var(--primary-color);
}

.type-select, .location-select, .tech-select {
  color: var(--primary-color-text);
  text-align: center;
  padding-right: 5px;
}

.type-selector {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.project-filters {
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.project-section {
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  background-image: var(--primary-color);
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
}

.project-card {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  min-width: 30%;
  
  box-shadow: 0 4px 5px 3px rgba(53, 103, 136, 0.459);
  color: var(--secondary-color-text);
  background-color: var(--third-color);
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;   

  overflow: hidden;
  align-items: center;
  text-align: center;
}

@media (max-width: 399px) {
  .project-container {
    padding-top: 10px;
  }
  .project-card {
    width: 100%;
  }
}

@media (min-width: 400px) {
  .project-container {
    padding-top: 10px;
  }

  .project-card {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .project-container {
    padding-top: 30px;
  }
  .project-card {
    width: 40%;
  }
  .project-filters {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 1200px) {
  .project-container {
    padding-top: 30px;
  }
  .project-card {
    width: 25%;
  }
}

.project-card-description {
  font-size: 1em;
  padding-top: 10px;
  color: var(--secondary-color-text);
}

.project-card-title{
  color: var(--secondary-color-text);
  font-size: 2em;
  font-weight: 500;
  justify-content: baseline;
  text-align: center;
}

.project-card-img {
  border-radius: 10px;
  max-width: 95%;
  max-height: 60%;

  align-self: center;
}
.project-card:hover {
  transform: scale(1.02);
  overflow: hidden;
}

.project-card-button{
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
}

.btn-primary {
  color: var(--primary-color-text);
  background-color: var(--primary-color);
  border-color: var(--primary-color-hover);
}

.btn-primary:hover {
  color: var(--primary-color-text);
  background-color: var(--primary-color);
  border-color: var(--primary-color-hover);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.project-heading {
  font-size: 2.3em;
  font-weight: 500;
  color: var(--primary-color-text);
  text-align: center;
}

.project-subheading {
  font-size: 1em;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--primary-color-text);
  text-align: center;
}

/* --------- */
/* About */
/* --------- */

.about-div {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
} 

.about-section {
  position: relative;
  padding-top: 20px;
  background-image: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  width: 100%;
  align-items: center;
}

.tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid var(--primary-color-hover);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px var(--secondary-color) ;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.tech-icons p{
  font-size: 0.25em ;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px;
  }
}

.tech-icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid rgba(6, 69, 124, 0.584);
}
.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

*{
  max-width: 100%;
}

.section-heading {
  padding-top: 20px;
  font-size: 2.3em;
  font-weight: 500;
  color: var(--primary-color-text);
  text-align: center;
}

